@import "../../mixins/var";

@function build-cols($breakpoint) {
  $cols: ('.jb-'+$breakpoint+'-1');
  @for $i from 2 through $grid-cols {
    $cols: append($cols, ',.jb-'+$breakpoint+'-'+$i)
  }
  @return $cols
}

@mixin make-cols() {
  @each $k, $v in $grid-breakpoints {
    @media (min-width: $v) {
      #{build-cols($k)} {
        float: left;
      }
      @for $i from 1 through $grid-cols {
        .jb-#{$k}-#{$i} {
          width: percentage($i / $grid-cols);
        }
      }
    }
  }
}

.jb-row {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  zoom: 1;
  display: block;
}

@include make-cols()